/* Color theme
Bone #DDD8C4
Eton Blue #A3c9A8
Green Sheen #84B59f
Polished Pine #69a297
Teal Blue #50808e
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #69a297;
  color: White;
}

li a:hover:not(.active) {
  background-color: #A3c9A8
  color: white;
}
